<div>
  <app-header-card
    [logoIcon]="logoIcon"
    [search]="search"
    [buy]="buy"
    [login]="login"
    [ava1]="ava1"
    [ava2]="ava2"
    [ava3]="ava3"
    [ava4]="ava4"
    [headphones]="headphones"
    [videoPlay]="videoPlay">
  </app-header-card>
  <app-featured-products
    [Airpods]="Airpods"
    [Airpods2]="Airpods2"
    [Airpods3]="Airpods3">
  </app-featured-products>
  <app-top-sellers
  [headphones1]="headphones1"
  [headphones2]="headphones2"
  [headphones3]="headphones3"
  >
  </app-top-sellers>
</div>
