<div>
    <h1>Top Sellers</h1>
    <div class="buttons">
        <button class="top">Top Picks</button>
        <button class="watch">Watches</button>
    </div>

    <div class="cards">
        <div class="card-container">
            <div class="card card1">
                <div class="discount"><p>Save 60%</p></div>
                <img [src]="headphones1" alt="Boat Rockerz 333">
                <div class="info">
                    <h3>Boat Rockerz 333</h3>
                    <div class="stars">
                        <p> ★ ★ ★ ★ ★</p>
                        <p>75 Reviews</p>
                    </div>
                    <p class="price">$20</p>
                </div>
            </div>
            <button class="cart-btn">Add to cart</button>
        </div>

        <div class="card-container">
            <div class="card card2">
                <img [src]="headphones2" alt="Boat kerz 234">
                <div class="info">
                    <h3>Boat kerz 234</h3>
                    <div class="stars">
                        <p> ★ ★ ★ ★ ★</p>
                        <p>75 Reviews</p>
                    </div>
                    <p class="price">$40</p>
                </div>
            </div>
            <button class="cart-btn">Add to cart</button>
        </div>

        <div class="card-container">
            <div class="card card3">
                <div class="discount purple"><p>Save 40%</p></div>
                <img [src]="headphones3" alt="Boat Rockerz 323">
                <div class="info">
                    <h3>Boat Rockerz 323</h3>
                    <div class="stars">
                        <p> ★ ★ ★ ★ ★</p>
                        <p>75 Reviews</p>
                    </div>
                    <p class="price">$30</p>
                </div>
            </div>
            <button class="cart-btn">Add to cart</button>
        </div>
    </div>
</div>
