<div>
    <header>
      <img [src]="logoIcon" alt="Logo" class="logo" />
  
      <div class="right-section">
        <div class="search-box">
          <input type="text" placeholder="Введите текст..." />
          <button>
            <img [src]="search" alt="Поиск" />
          </button>
        </div>
  
        <button class="items-button">
          <img [src]="buy" alt="Корзина" />
          <span>0 Items Added</span>
        </button>
  
        <button class="login-button">
          <img [src]="login" alt="Вход" />
          <span>Login or Sign Up</span>
        </button>
      </div>
    </header>
  
    <div class="greenLine">
      <button>Features</button>
      <button>Products</button>
      <button>Blog</button>
      <button>About</button>
    </div>

    <div class="product-section">
        <div class="product-info">
          <h1>Discover Our <br><span>Latest Products</span></h1>
          <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a product</p>
          <button class="buy-now">Buy Now</button>
          <div class="reviews">
            <div class="review-images">
              <img [src]="ava1" alt="Reviewer 1">
              <img [src]="ava2" alt="Reviewer 2">
              <img [src]="ava3" alt="Reviewer 3">
              <img [src]="ava4" alt="Reviewer 4">
            </div>
            <p>15k Well Reviews</p>
          </div>
        </div>
        <div class="product-display">
            <div class="video-play">
                <img [src]="videoPlay" alt="Play Video">
                <p>Play Video</p>
              </div>
          <div class="product-card">
            <p class="product-title">Red Beats MI9c2zm/a</p>
            <img [src]="headphones" alt="Red Beats Headphones">
            <p class="product-price">$50</p>
          </div>
        </div>
      </div>
      
  </div>
  